<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAb4SfiBE4ExuhKRwQyp-b8ftoBMHhobrg</string>
	<key>GCM_SENDER_ID</key>
	<string>281285545629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tashlehekomv2.app</string>
	<key>PROJECT_ID</key>
	<string>tashlehekom</string>
	<key>STORAGE_BUCKET</key>
	<string>tashlehekom.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281285545629:ios:29bc3ad4c3c951f8518e74</string>
</dict>
</plist>